<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="facebookappid" value="1424633497840822" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="facebookappsecret" value="8b9b9cffd2337b2538d63a419b2265f8" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="googleclientid" value="767400843187-8boio83mb57ruogr9af9ut09fkg56b27.apps.googleusercontent.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="googleclientsecret" value="5fWcBT0udKY7_b6E3gEiJlze" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="cpmsuri" value="http://cpms.mobile.qasite-services.com/identity/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Mail.Client.Environment" value="QA" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ForgotPassword_EmailTemplate" value="sso-como-forgot-password-qa-ltr" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="mandrillfrom" value="myapp@comoapp.biz" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>