<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Conduit.Common" version="2.0.0.1" targetFramework="net45" />
  <package id="Conduit.Common.WebApi.Client" version="2.0.0.4" targetFramework="net45" />
  <package id="Conduit.Infrastructure" version="2.0.0.4" targetFramework="net45" />
  <package id="Conduit.Mobile.Contracts" version="2.0.0.23" targetFramework="net45" />
  <package id="Conduit.Mobile.Mail.Client" version="1.0.0.12" targetFramework="net45" />
  <package id="Conduit.Mobile.Mail.Contracts" version="1.0.0.21" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="net45" />
</packages>